<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales'],
                {% for dates in date %}
                ['{{ dates[0] }}',      {{ dates[1] }}],
                {% endfor %}
                ]);

            var options = {
                title: '날짜별 대회량',
                hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('datechart'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                {% for names in name %}
                ['{{ names[0] }}',      {{ names[1] }}],
                {% endfor %}
                
                ]);

            var options = {
                title: '대화량 점유율',
                pieHole: 0.4,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }

    </script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

            var data = google.visualization.arrayToDataTable([
                 ['word', 'Population',],
                {% for words in word %}
                ['{{ words[0] }}',      {{ words[1] }}],
                {% endfor %}
                ]);

            var options = {
                title: '가장 많이 사용된 단어',
                chartArea: {width: '50%'},
                hAxis: {
                    title: 'Total Population',
                    minValue: 0
                },
            };

            var chart = new google.visualization.BarChart(document.getElementById('timechart'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <nav class="brown lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">K-Analytics</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><b>김주용</b>회원님</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <!-- Modal Structure -->


    <div class="container">
        <div class="section">
            <div class="card">
                <div class="card-content chatingroom-title">
                    <span class="card-title">{{ title }}</span>
                    <p>
                        <div class="chip">
                            대화상대 {{user_count}}명
                        </div>

                    </p>
                </div>
                <div class="card-content chatingroom-back">
                    <div class="row"> 

                        <div id="datechart" class="col s12 m12" style="height:400px;"></div>
                    </div>

                    <div class="row">

                        <div id="donutchart" class="col s12 m6" style="height: 400px;"></div>
                        <div id="timechart" class="col s12 m6" style="height:400px"></div>
                    </div>
                </div>
                <div class="card-action white ">
                    <a href="/" class="waves-effect waves-light btn chat-button black-text">톡방 내역 보기</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="/static/js/materialize.js"></script>
    <script src="/static/js/init.js"></script>
    <script>
        $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
});
</script>
</body>
</html>
