<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>
<body>
  <nav class="brown lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">K-Analytics</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><b>김주용</b>회원님</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12" action="/analitic" method=post enctype=multipart/form-data>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="채팅방 이름" id="first_name" type="text" class="validate">
              <label for="채팅방 이름">채팅방 이름</label>
            </div>

          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">여기에 대화내용을 붙여넣어 주세요</label>
            </div>

          </div>
          <div class="file-field input-field">
            <div class="btn file-btn">
              <span>File</span>
              <input type=file name=file>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <a class="waves-effect waves-light btn chat-button black-text">대화 분석하기</a>
        </form>
      </div>

    </div>
    
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="#modal1">
      <i class="large material-icons">add</i>
    </a>
  </div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
    <div class="row">
    <div class="input-field col s12 no-padding">
          <i class="material-icons prefix searchicon">search</i><input  type="text" class="chatting-search" placeholder=' 채팅방 이름 검색'>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col s12 m4">
            <div class="card">
              <div class="card-content chatingroom-title">
                <span class="card-title">2-1반 톡방</span>
                <p>
                  <div class="chip">
                    대화상대 18명
                  </div>
                  
                </p>
              </div>
              <div class="card-content chatingroom-back">
                <div class="row">
                  <div class="card col chatting-box">
                    {{ talks[0][1][2] }}
                  </div>
                </div>
                <div class="row">
                  <div class="card col chatting-box">
                    {{ talks[0][0][2] }}
                  </div>
                </div>
              </div>
              <div class="card-action white ">
                <a class="waves-effect waves-light btn chat-button black-text">대화 분석하기</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-content chatingroom-title">
                <span class="card-title">2-1반 톡방</span>
                <p>
                  <div class="chip">
                    대화상대 18명
                  </div>
                  
                </p>
              </div>
              <div class="card-content chatingroom-back">
                <div class="row">
                  <div class="card col chatting-box">
                    dsfssdfsd
                  </div>
                </div>
                <div class="row">
                  <div class="card col chatting-box">
                    dsfsdfsdfssdfs
                  </div>
                </div>
              </div>
              <div class="card-action white ">
                <a class="waves-effect waves-light btn chat-button black-text">대화 분석하기</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-content chatingroom-title">
                <span class="card-title">2-1반 톡방</span>
                <p>
                  <div class="chip">
                    대화상대 18명
                  </div>
                  
                </p>
              </div>
              <div class="card-content chatingroom-back">
                <div class="row">
                  <div class="card col chatting-box">
                    dsfssdfsd
                  </div>
                </div>
                <div class="row">
                  <div class="card col chatting-box">
                    dsfsdfsdfssdfs
                  </div>
                </div>
              </div>
              <div class="card-action white ">
                <a class="waves-effect waves-light btn chat-button black-text">대화 분석하기</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-content chatingroom-title">
                <span class="card-title">2-1반 톡방</span>
                <p>
                  <div class="chip">
                    대화상대 18명
                  </div>
                  
                </p>
              </div>
              <div class="card-content chatingroom-back">
                <div class="row">
                  <div class="card col chatting-box">
                    dsfssdfsd
                  </div>
                </div>
                <div class="row">
                  <div class="card col chatting-box">
                    dsfsdfsdfssdfs
                  </div>
                </div>
              </div>
              <div class="card-action white ">
                <a class="waves-effect waves-light btn chat-button black-text">대화 분석하기</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-content chatingroom-title">
                <span class="card-title">2-1반 톡방</span>
                <p>
                  <div class="chip">
                    대화상대 18명
                  </div>
                  
                </p>
              </div>
              <div class="card-content chatingroom-back">
                <div class="row">
                  <div class="card col chatting-box">
                    dsfssdfsd
                  </div>
                </div>
                <div class="row">
                  <div class="card col chatting-box">
                    dsfsdfsdfssdfs
                  </div>
                </div>
              </div>
              <div class="card-action white ">
                <a class="waves-effect waves-light btn chat-button black-text">대화 분석하기</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-content chatingroom-title">
                <span class="card-title">2-1반 톡방</span>
                <p>
                  <div class="chip">
                    대화상대 18명
                  </div>
                  
                </p>
              </div>
              <div class="card-content chatingroom-back">
                <div class="row">
                  <div class="card col chatting-box">
                    dsfssdfsd
                  </div>
                </div>
                <div class="row">
                  <div class="card col chatting-box">
                    dsfsdfsdfssdfs
                  </div>
                </div>
              </div>
              <div class="card-action white ">
                <a class="waves-effect waves-light btn chat-button black-text">대화 분석하기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <script>
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
</script>
</body>
</html>
