<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>
<body>
{% if failed %}
<script> alert("다시 시도해 주세요"); </script>
{% endif %}
<div class="container">
    <form method="post" action="/login">
        <input type="text" name="id">
        <input type="password" name="pw">
        <input type="submit" value="로그인"/>
</div>
</form>
</body>

</html>
</input>